@font-face { 
    font-family: visitor1;
    src: url("fonts/visitor1.ttf") format('truetype');
 }

h1 {
    font-weight: normal;
    font-style: bold;
    text-align: center;
    color: white;
}

p {
    font-weight: normal;
    text-align: center;
    color: white;
}

body {
  background-image: url('images/sitebackground01.png');
  background-size: cover;
  }
