@font-face { 
    font-family: visitor1;
    src: url("fonts/visitor1.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
    color: white;
 }

h1 {
    font-family: visitor1;
    src: url("fonts/visitor1.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
    color: white;
}

p {
    font-family: visitor1;
    src: url("fonts/visitor1.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
    color: white;
}

h1 {
    font-family: visitor1;
    src: url("fonts/visitor1.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
    color: white;
}

body {
  background-image: url('images/sitebackground01.png');
  background-size: cover;
  }
