@font-face { 
    font-family: "TerminusTTF";
    src: url("fonts/TerminusTTF-4.49.1.ttf") format("truetype")
   }

@font-face {
    font-family: "TerminusTTF-Bold";
    src: url("fonts/TerminusTTF-Bold-4.49.1.ttf") format("truetype")
   }

body, html {
  margin: 0;
  padding: 0;
}

.logocontainer {
    text-align: center;
   }

.logo {
    display: inline-block;
    align: center;
   }

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
   }

.buttoncontainer {
    text-align: center;
   }

.button {
    display: inline-block;
   }

.button:hover {
    box-shadow: 0 0 5px white;
    filter: brightness(125%);
   }
    
.button:active {
    box-shadow: 0 0 10px white;
    filter: brightness(155%);
   }

h1 {
    font-family: TerminusTTF-Bold;
    font-weight: bold;
    text-align: center;
    font-size: 185%;
    line-height: 20%;
    color: white;
   }

h2 {
    font-family: TerminusTTF-Bold;
    text-align: center;
    font-size: 165%;
    line-height: 20%;
    color: white;
   }

p {
    font-family: TerminusTTF;
    font-weight: normal;
    text-align: center;
    font-size: 130%;
    line-height: 5%;
    color: white;
   }

a {
    text-decoration: none;
   }

a:link, a:visited {
    color: lime;
   }

a:hover {
    text-decoration: underline;
   }
